html, body {
  width: 100%;
  hight: 100%;
  margin: 0; /* Space from this element (entire pages) and others*/
  padding: 0; /* space from content and border*/
  text-align: center;
  border: solid blue;
  border-width: large;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-family: Palatino, Palation Linotype serif;
  color: green;
}
