body {
  hight: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-family: Palatino, Palation Linotype serif;
  color: green;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  colo: #ffffff;
  background-color: 3fbd1d5;
}

.btn-secondary {
  background-color: 3E8DFEO;
  color: #ffffff;
  margin: 0 0 30px;
}
