body {
  hight: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-family: Palatino, Palation Linotype, Georgia, Times serif;
  color: rgb(121,149,117);
}
